body{
    font-family: 'Michroma', sans-serif;
    margin: 0;



}
h1{
    font-size: 45px;
}
.all-section{
    display: flex;
    padding-left: 10px;
   padding-bottom: 150px;
   
}
span{
    color: orange;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
   
}
.button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border: 3px solid gold;
    border-radius: 15px;
    color:white;
}
.button:hover{
    color: black;
   

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.next-image{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}